* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: dotted red 1.5px; */
}

body {
    background-color: #77dd77;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.center {
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    min-height: 60px;
    padding: 0 10px;
    width: 100%;
    color: white;
    z-index: 100;
}

header.flex {
    flex-direction: row;
    justify-content: space-between;
}

nav span {
    margin: 0 5px;
}

nav span:last-child {
    margin-right: 0;
}

section {
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
}

.section-carousel {
    height: 100vh;
    background: green;
}

.section-details {
    padding: 20px 0;
    background-color: #F9ECE4;
}

.images-area {
    position: relative;
    height: 500px;
    width: 100%;
    padding: 10px;
}

#img1 {
    position: absolute;
    top: 18%;
    width: 60%;
    object-fit: contain;
    z-index: 2;
}

#img2 {
    position: absolute;
    width: 50%;
    object-fit: contain;
    top: -6%;
    left: 25%;
}

#img3 {
    position: absolute;
    width: 50%;
    object-fit: contain;
    top: 25%;
    left: 48%;
}